extend layout
block content
     h1=title
     - console.log(userlist)
      table#userlist.table.table-hover.table-striped(border='1')
        thead
           tr
              th First Name  
              th Last Name  
              th User Name   
              th Email  
        tbody
             -var i=-1
             each user in userlist
              - ++i
              tr(class=(i%2==0)?'odd':'even')
                td= user.first_name
                td= user.last_name
                td= user.username
                td= user.email
        p.
           <br>
                <a href="http://localhost:3000">Go Back</a>
